.App {
  text-align: center;
  margin: 0 auto;
  background: lightgray;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1 {
  margin: 0px;
  padding: 2%;
}

.showAll {
  margin: 0 auto;
  width: 70%;
  border: 1px solid gold;
  background: lightgoldenrodyellow;
}
.restaurants {
  background: rgba(143, 65, 108, 0.473);
  margin: 0 auto;
  width: 100%;
  /* border: 1px solid gold; */
}
img {
  width: 10%;
}
.menu {
  margin-top: 0px;
  padding-top: 1%;
}
.item {
  display: inline-block;
  padding: 0% 5%;
}
button {
  margin: 1%;
  /* margin-top: 70px; */
}

.img1{
  height: 40%;
  margin: 0 auto;
  width:60%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-style: ridge;
}

.row{
 
  background-color: rgba(107, 212, 204, 0.473);
  /* background: #477885; */
  border: 1.5px solid black;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 0.5%;

  
}

.container {
  background-size: contain;


}

.col-6{
  margin-left: 0;
  padding: 0px;
  height: 60%;

}
h2 {
  /* margin-top: 40px; */
}